{{page-title "Categories"}}

<div>
  <h2>Détails des contacts de la catégorie choisie</h2>
  <br>
  <br>

  <BsNav @type="tabs" as |nav|>
    <nav.item>
      <nav.link-to @route="categories/contacts">Catégorie 1</nav.link-to>
    </nav.item>
  </BsNav>
</div>

{{outlet}}